<html>
<head>
	<title>res.render() Demo</title>
        <meta http-equiv="refresh" content="10">
</head>
<body>
	<h2>My dodgy server side example</h2>
        <h4><%= newarray[0] %></h4>
        <h4><%= newarray[1] %></h4>
        <h4><%= newarray[2] %></h4>
        <h4><%= newarray[3] %></h4>
        <h4><%= newarray[4] %></h4>
        <h4><%= newarray[5] %></h4>
        <h4><%= newarray[6] %></h4>
</body>
</html>

